@model UnderFoot.Models.LoginViewModel

<div>
    <div>
        <form asp-action="LogIn" asp-controller="Home" method="post" class="form login-form">
            <div asp-validation-summary="ModelOnly" class="clr-danger"></div>
            <div class="control-group mb-3">
                <label asp-for="Email" class="control-label clr-white"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="control-group mb-3">
                <label asp-for="Password" class="control-label clr-white"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="checkbox-group mb-2">
                <label class="control-label clr-white">
                    <input class="form-control" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="control-group">
                <input type="submit" value="Giriş Yap" class="btn btn-primary" asp-action="LogIn" asp-controller="Home"/>
            </div>
        </form>
    </div>
</div>