<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Navbar -->
    <!-- Navbar End -->
    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <!-- Footer End -->

    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>

@RenderSection("scripts",false)