<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/mystyle.css" rel="stylesheet" />
</head>
<body>
    <!-- Nav Start -->

    <nav class="navbar">
        <div class="nav-container">
            <a asp-action="Index" asp-controller="User" class="nav-logo">UnderFoot</a>
            <div>
                <ul class="link-list">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="User">Ana Sayfa</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">Sepet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="LogOut" asp-controller="Home">Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav End -->
    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="mt-3">
        <div class="container">
            <div class="footer-social">
                <a href="#" class="social-item">
                    <img src="~/images/twitter-icon.png" alt="">
                    <span>Twitter</span>
                </a>
                <a href="#" class="social-item">
                    <img src="~/images/instagram-icon.png" alt="">
                    <span>Instragram</span>
                </a>
                <a href="#" class="social-item">
                    <img src="~/images/github-icon.png" alt="">
                    <span>GitHub</span>
                </a>
            </div>
            <div class="footer-copyright">
                <p>&copy; All right reserved 2021</p>
                <p>Onur Çekiç</p>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>

@RenderSection("scripts", false)